name: Demo Pull Request

on:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:        
      - uses: actions/checkout@v4

      - name: Save PR number
        run: |
          mkdir -p ./pr
          echo ${{ github.event.number }} > ./pr/NR
          
      - uses: actions/upload-artifact@v4
        with:
          name: 'pr-${{github.run_id}}'
          path: pr/